.ctn-broadcast-message-form {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.137);
    height: 580px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.btn-custom-primary {
    background-color: #401F71!important;
    border-color: #401F71!important;
    width: 100%;
}

.btn-custom-primary:hover {
    background-color: #401F71!important;
    border-color: #401F71!important;
    width: 100%;
}

.ctn-broadcast-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10rem!important;
}

.ctn-broadcast-message-form .title-form {
    display: flex;
    justify-content: center;
}

.ctn-broadcast-message-form .fa-2xl {
font-size: 4rem;
}