body {
  font-weight: 400;
  line-height: 1.625em;
  position: relative;
  overflow-x: hidden;
  background-color: #EEEEEE !important;
  color: #000 !important;
}

hr.hr-forms {
  margin-left: 5%;
  margin-right: 5%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #401F71, rgba(0, 0, 0, 0));
}