body {
  font-weight: 400;
  line-height: 1.625em;
  position: relative;
  overflow-x: hidden;
  background-color: #EEEEEE !important;
  color: #000 !important;
}

hr.hr-forms {
  margin-left: 5%;
  margin-right: 5%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #401F71, rgba(0, 0, 0, 0));
}


 /* Sweet Alert Toast  */

 .colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

/* Sweet Alert Toast  */


.btn-custom-primary {
  background-color: #401F71!important;
  border-color: #401F71!important;
  width: 100%;
}

.btn-custom-primary:hover {
  background-color: #401F71!important;
  border-color: #401F71!important;
  width: 100%;
}